.main-basket {

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;

        text-transform: uppercase;
        color: #111111;

        margin-bottom: 50px;

    }

    &__row {}

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__sum {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #111111;
    }

}

.basket-card {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        border-top: 1px dashed rgba(63, 78, 101, 0.3);
    }

    &__item:last-child {
        border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
        margin-bottom: 50px;
    }

    &__bloc {
        display: flex;
    }


    &__img {
        width: 281px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        margin-right: 20px;

        img {
            max-width: 281px;
            max-height: 191px;
        }

    }

    &__body {
        padding: 15px 0;
        // margin-right: 129px;
        max-width: 480px;
    }

    &__volume {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #3F4E65;
        margin-bottom: 9px;
    }

    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #111111;
        margin-bottom: 10px;
    }

    &__description {

        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: #3F4E65;
    }



    &__counter {
        // margin-right: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 44px;
        border-left: 1px dashed rgba(63, 78, 101, 0.3);
        height: 49px;
    }

    &__reduce {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3F4E65;

        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        padding: 4px 14px;
        margin-right: 17px;
    }

    &__number {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #3F4E65;
        margin-right: 21px;
    }

    &__add {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3F4E65;

        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        padding: 4px 14px;

    }


    &__price {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #111111;
        padding: 0 15px;
        white-space: nowrap;
        padding-left: 44px;
        border-left: 1px dashed rgba(63, 78, 101, 0.3);
        height: 49px;
    }

    &__clear {
        padding-left: 44px;
        border-left: 1px dashed rgba(63, 78, 101, 0.3);
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    // &__clear:after {
    //     content: '';
    //     position: absolute;

    //     padding-left: 44px;
    //     border-left: 1px dashed rgba(63, 78, 101, 0.3);
    //     height: 49px;
    // }

    // padding-left: 44px;
    // border-left: 1px dashed rgba(63, 78, 101, 0.3);
    // height: 49px;
}