.cart{
	position: relative;

	&__badge{
		display: block;
	    min-width: 17px;
	    height: 17px;
	    background: #FFC85E;
	    border-radius: 50%;
	    text-align: center;
	    line-height: 17px;
	    font-size: 10px;
	    font-weight: 700;
	    color: #fff;
	    position: absolute;
	    top: -9px;
	    right: -9px;
	    padding: 0 2px;
	}
}